{% for path in logrotate_jenkins_paths %}
{{ path }}
{% endfor %}
{
        weekly
        copytruncate
        missingok
        rotate 52
        compress
        delaycompress
        notifempty
}
