# - I put everything in one block and added sharedscripts, so that mysql gets
#   flush-logs'd only once.
#   Else the binary logs would automatically increase by n times every day.
# - The error log is obsolete, messages go to syslog now.
{% for path in logrotate_mysql_server_paths %}
{{ path }}
{% endfor %}
{
{{ logrotate_mysql_server_options }}
}
