{% for path in logrotate_rsyslog_paths %}
{{ path }}
{% endfor %}
{
	rotate 7
	daily
	missingok
    dateext
	notifempty
	compress
	delaycompress
	sharedscripts
	postrotate
		/usr/lib/rsyslog/rsyslog-rotate
	endscript
}
